
<body>
    @helper.form(action = routes.Survey.add){
                    <h2 align="center">New Survey</h2>
                    <input type="title" name="title" id="title" placeholder="Title" autofocus>
                    <div><textarea type="text" name="questions" id="questions"  placeholders="Question"></textarea></div>
                    <textarea type="text" name="emails" id="emails"  placeholders="Email"></textarea>
                    <div><button type="submit">Done</button></div>
    }
</body>
</html>
