@(lstResponses: List[Response])
<!--<head>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
<!--<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
<!--</head>-->
<body>

<script>
function myFunction() {
    var x = document.getElementById("myText").value;
    document.getElementById("demo").innerHTML = x;

}
</script>
<!--document.getElementById("demo").innerHTML = x;-->
<div data-role="page" id="pageone">
    <div data-role="main" class="ui-content">
        <form><input type="button" value="back" onClick="history.go(-1);return true;"></form>
        <div data-role="collapsibleset">
            @for(response <- lstResponses){
            <div data-role="collapsible">
                <h3>@response.title</h3>
                <p>Sent Date: @response.finishDate</p>
                <p>Sent: 0</p>
                <p>Received: 0</p>
                <!--@for(responses <- lstResponses){-->
                <!--<div data-role="collapsible">-->
                <!--<h3>Response</h3>-->
                <!--@for(x <- 1 to responses.questions.length){-->
                <!--<p>Question: @responses.questions(x-1)</p>-->
                <!--@if(responses.answers.length != 0){-->
                <!--<p>Answer: @responses.answers(x-1)</p>-->
                <!--}-->
                <!--}-->
                <!--</div>-->
                <!--}-->
                <div>Send survey to: </div><br>

                @helper.form(action = routes.Survey.sendSurvey(response.surveyid.stringify)){
                <div><input type="text" name="emails"></div>
                <div><button type="submit" >Send</button></div>

                <p id="demo"></p>
                }

            </div>
            }

        </div>

    </div>
</div>
</div>
</body>
