@(lstSurveys: List[Survey])
<body>
<div data-role="page" id="pageone">
    <div data-role="main" class="ui-content">
        <form><input type="button" value="back" onClick="history.go(-1);return true;"></form>
        <div data-role="collapsibleset">
            @for(survey <- lstSurveys){
            <div data-role="collapsible">
                <h3>@survey.title</h3>
                <p>Sent Date: @survey.createDate</p>
                <p>@if(survey.emails != ""){
                    Sent: @survey.emails.length
                }</p>
                @helper.form(action = routes.Links.add){
                    @for(x <- 1 to survey.emails.length){
                <div><input type="text" name="links" id="links" value="@survey.id.get.stringify" readonly></div>
                        }
                <div><button type="submit">Done</button></div>
                }
                <!--<p>Received: 0</p>-->
                <!--<div data-role="collapsible">-->
                    <!--<h3>Responses</h3>-->
                    <!--<p>First response</p>-->
                <!--</div>-->
            </div>
            }
        </div>
    </div>
</div>
</body>
